<div itemscope itemtype="https://schema.org/Product">
    <!-- Summary Container goes above the fold near product name or image -->
    <div id="BVRRSummaryContainer"></div>
    <!-- Reviews Container goes below product description -->
    <div id="BVRRContainer"></div>
</div>
