<form method="post" id="aspnetForm" name="aspnetForm">
    <div class="nwe-layout">
        <!--#this.WebFormPage.HtmlPartContainer.AddMetaTag(new HtmlPartMetaTag().AddCustomAttribute("http-equiv", "X-UA-Compatible").AddCustomAttribute("content", "IE=edge,chrome=1"));-->
        <!--#this.WebFormPage.HtmlPartContainer.AddMetaTag(new HtmlPartMetaTag().AddCustomAttribute("http-equiv", "X-UA-Compatible").AddCustomAttribute("content", "IE=9"),0);-->
        <!--<Meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />-->
        <!--<Css name="FancyBox2" href="~skin/css/jquery.fancybox.css" />-->
        <div class="nhs-root FreeDesign ">
            <div class="wrapper cf"
                 style="background-image:url('/modules/custom/nhsc_learn_to_grow_survey/static_assets/asset-library/PublishingImages/aprendiendo-a-crecer/home/red-yellow-ribbons-background.png'); background-color:">
                <div class="inner-wrapper">
                    <div class="nwe-panel-layout cf">
                        <div class="nwe-row nwe-1-column" id="col_12f">
                                <div class="nwe-widget cf">
                                    <div class="nwe-widget-content cf" id="wg7419883">
                                        <div class="nse-live-body">
                                            <div class="nhs-freestyle-widget-content cf">
                                                <div class="recommendations-info-outer-container">
                                                    <div class="recommendations-info-inner-container">
                                                        <p class="recommendations-info-title">RESULTADOS Y
                                                            RECOMENDACIONES PERSONALES</p>
                                                        <p class="recommendations-info-text-1">Y, por fin, ¡los
                                                            resultados! ¿Le faltan piezas al pilar? No te preocupes, a
                                                            continuación te damos trucos y consejos personalizados para
                                                            ayudarte a introducir los alimentos que más les falta en su
                                                            dieta y enseñarles a comer mejor. </p>
                                                        <p class="recommendations-info-text-2">Acuérdate de que el mejor
                                                            aliado para el óptimo desarrollo físico e intelectual de tus
                                                            hijos ¡es la alimentación! </p>
                                                        <p class="recommendations-info-text-3"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nwe-widget cf">
                                    <div class="nwe-widget-content cf" id="wg15212161">
                                        <div class="nse-live-body">
                                            <div class="nhs-freestyle-widget-content cf">
                                                <div class="recommendations-pillar-outer-container">
                                                    <div class="recommendations-pillar-inner-container">
                                                        <div class="recommendations-pillar">
                                                            <img class="pillar-img"/>
                                                            <img id="jenga-piece-1" style="display:none"
                                                                 src="/modules/custom/nhsc_learn_to_grow_survey/static_assets/asset-library/PublishingImages/aprendiendo-a-crecer/pillar/jenga-piece-1.png"/>
                                                            <div class="pdf-box desktop">
                                                                <a href="recomendaciones-personalizadas#"
                                                                   class="pdf-download-button-results">
                                                                    <div class="inner-content">
                                                                        <img src="/modules/custom/nhsc_learn_to_grow_survey/static_assets/asset-library/PublishingImages/aprendiendo-a-crecer/pillar/PDF_download.png"/>
                                                                        <p>Descárgate aquí la infografía con toda la
                                                                            información completa.</p>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="recommendations-blocks-outer-container">
                                                            <div class="recommendations-block lactose">
                                                                <div class="header">
                                                                    <p class="title">LÁCTEOS</p>
                                                                </div>
                                                                <div class="main-body">
                                                                    <p>Para alcanzar las recomendaciones semanales <span
                                                                                class="bold">te recomendamos que tome entre:</span>
                                                                    </p>
                                                                    <div class="recommendation">
                                                                        <div class="inner">
                                                                            <p><span class="range">13-27</span> Raciones
                                                                                de</p>
                                                                            <img src="/modules/custom/nhsc_learn_to_grow_survey/static_assets/asset-library/PublishingImages/aprendiendo-a-crecer/recommendations/circle-lactose.png"/>
                                                                            <p>más a la semana</p>
                                                                        </div>
                                                                        <div class="center">
                                                                            <p class="img-description">Leche, yogur o
                                                                                queso.</p>
                                                                            <a href="recomendaciones-personalizadas#"
                                                                               class="learn-more">Conoce los consejos
                                                                                para lograr este objetivo &gt;</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="alt-body" style="display:none">
                                                                    <p class="congrats-sentence">¡Enhorabuena! <span
                                                                                class="name-of-child">Chad</span> está
                                                                        tomando las cantidades adecuada de lácteos.</p>
                                                                </div>
                                                            </div>
                                                            <div class="recommendations-block protein">
                                                                <div class="header">
                                                                    <p class="title">CARNE, PESCADO, HUEVOS Y
                                                                        LEGUMBRES</p>
                                                                </div>
                                                                <div class="main-body">
                                                                    <p>Para alcanzar las recomendaciones semanales <span
                                                                                class="bold">te recomendamos que tome:</span>
                                                                    </p>
                                                                    <div class="recommendation">
                                                                        <div class="inner">
                                                                            <p><span class="range">-13</span> Raciones
                                                                                de</p>
                                                                            <img src="/modules/custom/nhsc_learn_to_grow_survey/static_assets/asset-library/PublishingImages/aprendiendo-a-crecer/recommendations/circle-protein.png"/>
                                                                            <p>más a la semana</p>
                                                                        </div>
                                                                        <div class="center">
                                                                            <p class="img-description">Carne, pescado,
                                                                                huevos, mariscos o legumbres.</p>
                                                                            <a href="recomendaciones-personalizadas#"
                                                                               class="learn-more">Conoce los consejos
                                                                                para lograr este objetivo &gt;</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="alt-body" style="display:none">
                                                                    <p class="congrats-sentence">¡Enhorabuena! <span
                                                                                class="name-of-child">Chad</span> está
                                                                        tomando las cantidades adecuada de alimentos
                                                                        ricos en proteínas.</p>
                                                                </div>
                                                            </div>
                                                            <div class="recommendations-block vegetables">
                                                                <div class="header">
                                                                    <p class="title">VERDURAS Y HORTALIZAS</p>
                                                                </div>
                                                                <div class="main-body">
                                                                    <p>Para alcanzar las recomendaciones semanales <span
                                                                                class="bold">te recomendamos que tome entre:</span>
                                                                    </p>
                                                                    <div class="recommendation">
                                                                        <div class="inner">
                                                                            <p><span class="range">13-20</span> Raciones
                                                                                de</p>
                                                                            <img src="/modules/custom/nhsc_learn_to_grow_survey/static_assets/asset-library/PublishingImages/aprendiendo-a-crecer/recommendations/circle-vegetables.png"/>
                                                                            <p>más a la semana</p>
                                                                        </div>
                                                                        <div class="center">
                                                                            <p class="img-description">Verduras,
                                                                                hortalizas, tubérculos y bulbos.</p>
                                                                            <a href="recomendaciones-personalizadas#"
                                                                               class="learn-more">Conoce los consejos
                                                                                para lograr este objetivo &gt;</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="alt-body" style="display:none">
                                                                    <p class="congrats-sentence">¡Enhorabuena! <span
                                                                                class="name-of-child">Chad</span> está
                                                                        tomando las cantidades adecuada de verduras y
                                                                        hortalizas.</p>
                                                                </div>
                                                            </div>
                                                            <div class="recommendations-block fruits">
                                                                <div class="header">
                                                                    <p class="title">FRUTAS</p>
                                                                </div>
                                                                <div class="main-body">
                                                                    <p>Para alcanzar las recomendaciones semanales <span
                                                                                class="bold">te recomendamos que tome entre:</span>
                                                                    </p>
                                                                    <div class="recommendation">
                                                                        <div class="inner">
                                                                            <p><span class="range">13-20</span> Raciones
                                                                                de</p>
                                                                            <img src="/modules/custom/nhsc_learn_to_grow_survey/static_assets/asset-library/PublishingImages/aprendiendo-a-crecer/recommendations/circle-fruit.png"/>
                                                                            <p>más a la semana</p>
                                                                        </div>
                                                                        <div class="center">
                                                                            <p class="img-description">Frutas variadas o
                                                                                zumos.</p>
                                                                            <a href="recomendaciones-personalizadas#"
                                                                               class="learn-more">Conoce los consejos
                                                                                para lograr este objetivo &gt;</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="alt-body" style="display:none">
                                                                    <p class="congrats-sentence">¡Enhorabuena! <span
                                                                                class="name-of-child">Chad</span> está
                                                                        tomando las cantidades adecuada de frutas.</p>
                                                                </div>
                                                            </div>
                                                            <div class="recommendations-block cereal">
                                                                <div class="header">
                                                                    <p class="title">CEREALES</p>
                                                                </div>
                                                                <div class="main-body">
                                                                    <p>Para alcanzar las recomendaciones semanales <span
                                                                                class="bold">te recomendamos que tome entre:</span>
                                                                    </p>
                                                                    <div class="recommendation">
                                                                        <div class="inner">
                                                                            <p><span class="range">27-41</span> Raciones
                                                                                de</p>
                                                                            <img src="/modules/custom/nhsc_learn_to_grow_survey/static_assets/asset-library/PublishingImages/aprendiendo-a-crecer/recommendations/circle-cereal.png"/>
                                                                            <p>más a la semana</p>
                                                                        </div>
                                                                        <div class="center">
                                                                            <p class="img-description">Cereales, pan,
                                                                                pasta, arroz y patatas.</p>
                                                                            <a href="recomendaciones-personalizadas#"
                                                                               class="learn-more">Conoce los consejos
                                                                                para lograr este objetivo &gt;</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="alt-body" style="display:none">
                                                                    <p class="congrats-sentence">¡Enhorabuena! <span
                                                                                class="name-of-child">Chad</span> está
                                                                        tomando las cantidades adecuada de cereales y
                                                                        féculas.</p>
                                                                </div>
                                                            </div>
                                                            <div class="recommendations-pillar mobile">
                                                                <img class="pillar-img"
                                                                     src="/modules/custom/nhsc_learn_to_grow_survey/static_assets/asset-library/PublishingImages/aprendiendo-a-crecer/recommendations/Jenga-Results-4.png"/>
                                                                <img id="jenga-piece-1" style="display:none"
                                                                     src="/modules/custom/nhsc_learn_to_grow_survey/static_assets/asset-library/PublishingImages/aprendiendo-a-crecer/pillar/jenga-piece-1.png"/>
                                                                <div class="pdf-box">
                                                                    <a href="recomendaciones-personalizadas#"
                                                                       class="pdf-download-button-results">
                                                                        <div class="inner-content">
                                                                            <img src="/modules/custom/nhsc_learn_to_grow_survey/static_assets/asset-library/PublishingImages/aprendiendo-a-crecer/pillar/PDF_download.png"/>
                                                                            <p>Descárgate aquí la infografía con toda la
                                                                                información completa.</p>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="learn-more-box">
                                                        <div class="learn-more-box-inner">
                                                            <div class="text-wrapper">
                                                                <p class="text">Para equilibrar el desarrollo de <span
                                                                            class="name-of-child"></span>
                                                                    existen suplementos nutricionales como</p>
                                                                <img class="logo"
                                                                     src="/modules/custom/nhsc_learn_to_grow_survey/static_assets/asset-library/PublishingImages/aprendiendo-a-crecer/home/meritene-junior-logo.png"/>
                                                                <div class="learn-more-button-wrapper">
                                                                    <a class="learn-more-button-link"
                                                                       href="../marcas/meritene-junior.html">
                                                                        <div class="learn-more-button" id="learn-more">
                                                                            <p>Saber más</p>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="packshot">
                                                                <img src="/modules/custom/nhsc_learn_to_grow_survey/static_assets/asset-library/PublishingImages/aprendiendo-a-crecer/recommendations/meritene-junior-packshot.png"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nwe-widget cf">
                                    <div class="nwe-widget-content cf" id="wg20283103">
                                        <div class="nse-live-body">
                                            <div class="nhs-freestyle-widget-content cf">
                                                <div class="recommendations-pillar-inner-container pdf" id="pdf-content"
                                                     hidden="hidden">
                                                    <div class="recommendations-blocks-outer-container">
                                                        <div class="recommendations-block lactose pdf">
                                                            <div class="header">
                                                                <p class="title">LÁCTEOS</p>
                                                            </div>
                                                            <div class="main-body">
                                                                <p>Para alcanzar las recomendaciones semanales <span
                                                                            class="bold">te recomendamos que tome entre:</span>
                                                                </p>
                                                                <div class="recommendation">
                                                                    <div class="inner">
                                                                        <p><span class="range">0</span> Raciones de</p>
                                                                        <img class="pdf-image"
                                                                             src="/modules/custom/nhsc_learn_to_grow_survey/static_assets/asset-library/PublishingImages/aprendiendo-a-crecer/recommendations/circle-lactose.png"/>
                                                                        <p>más a la semana</p>
                                                                    </div>
                                                                    <div class="center">
                                                                        <p class="img-description">Vasos de leche, yogur
                                                                            o porciones de queso.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="alt-body" style="display:none">
                                                                <p class="congrats-sentence">¡Enhorabuena! <span
                                                                            class="name-of-child">Chadito</span> está
                                                                    tomando las cantidades adecuada de lácteos.</p>
                                                            </div>
                                                        </div>
                                                        <div class="recommendations-block protein pdf">
                                                            <div class="header">
                                                                <p class="title">CARNE, PESCADO, HUEVOS Y LEGUMBRES</p>
                                                            </div>
                                                            <div class="main-body">
                                                                <p>Para alcanzar las recomendaciones semanales <span
                                                                            class="bold">te recomendamos que tome entre:</span>
                                                                </p>
                                                                <div class="recommendation">
                                                                    <div class="inner">
                                                                        <p><span class="range">0</span> Raciones de</p>
                                                                        <img class="pdf-image"
                                                                             src="/modules/custom/nhsc_learn_to_grow_survey/static_assets/asset-library/PublishingImages/aprendiendo-a-crecer/recommendations/circle-protein.png"/>
                                                                        <p>más a la semana</p>
                                                                    </div>
                                                                    <div class="center">
                                                                        <p class="img-description">Carne, pescado,
                                                                            huevos, mariscos o legumbres.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="alt-body" style="display:none">
                                                                <p class="congrats-sentence">¡Enhorabuena! <span
                                                                            class="name-of-child">Chadito</span> está
                                                                    tomando las cantidades adecuada de alimentos ricos
                                                                    en proteínas.</p>
                                                            </div>
                                                        </div>
                                                        <div class="recommendations-block vegetables pdf">
                                                            <div class="header">
                                                                <p class="title">VERDURAS Y HORTALIZAS</p>
                                                            </div>
                                                            <div class="main-body">
                                                                <p>Para alcanzar las recomendaciones semanales <span
                                                                            class="bold">te recomendamos que tome entre:</span>
                                                                </p>
                                                                <div class="recommendation">
                                                                    <div class="inner">
                                                                        <p><span class="range">0</span> Raciones de</p>
                                                                        <img class="pdf-image"
                                                                             src="/modules/custom/nhsc_learn_to_grow_survey/static_assets/asset-library/PublishingImages/aprendiendo-a-crecer/recommendations/circle-vegetables.png"/>
                                                                        <p>más a la semana</p>
                                                                    </div>
                                                                    <div class="center">
                                                                        <p class="img-description">Verduras, hortalizas,
                                                                            tubérculos y bulbos.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="alt-body" style="display:none">
                                                                <p class="congrats-sentence">¡Enhorabuena! <span
                                                                            class="name-of-child">Chadito</span> está
                                                                    tomando las cantidades adecuada de verduras y
                                                                    hortalizas.</p>
                                                            </div>
                                                        </div>
                                                        <div class="recommendations-block fruits pdf">
                                                            <div class="header">
                                                                <p class="title">FRUTAS</p>
                                                            </div>
                                                            <div class="main-body">
                                                                <p>Para alcanzar las recomendaciones semanales <span
                                                                            class="bold">te recomendamos que tome entre:</span>
                                                                </p>
                                                                <div class="recommendation">
                                                                    <div class="inner">
                                                                        <p><span class="range">0</span> Raciones de</p>
                                                                        <img class="pdf-image"
                                                                             src="/modules/custom/nhsc_learn_to_grow_survey/static_assets/asset-library/PublishingImages/aprendiendo-a-crecer/recommendations/circle-fruit.png"/>
                                                                        <p>más a la semana</p>
                                                                    </div>
                                                                    <div class="center">
                                                                        <p class="img-description">Frutas variadas o
                                                                            zumos.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="alt-body" style="display:none">
                                                                <p class="congrats-sentence">¡Enhorabuena! <span
                                                                            class="name-of-child">Chadito</span> está
                                                                    tomando las cantidades adecuada de frutas.</p>
                                                            </div>
                                                        </div>
                                                        <div class="recommendations-block cereal pdf">
                                                            <div class="header">
                                                                <p class="title">CEREALES</p>
                                                            </div>
                                                            <div class="main-body">
                                                                <p>Para alcanzar las recomendaciones semanales <span
                                                                            class="bold">te recomendamos que tome entre:</span>
                                                                </p>
                                                                <div class="recommendation">
                                                                    <div class="inner">
                                                                        <p><span class="range">0</span> Raciones de</p>
                                                                        <img class="pdf-image"
                                                                             src="/modules/custom/nhsc_learn_to_grow_survey/static_assets/asset-library/PublishingImages/aprendiendo-a-crecer/recommendations/circle-cereal.png"/>
                                                                        <p>más a la semana</p>
                                                                    </div>
                                                                    <div class="center">
                                                                        <p class="img-description">Cereales, pan, pasta,
                                                                            arroz y patatas.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="alt-body" style="display:none">
                                                                <p class="congrats-sentence">¡Enhorabuena! <span
                                                                            class="name-of-child">Chadito</span> está
                                                                    tomando las cantidades adecuada de cereales y
                                                                    féculas.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
