<h3>Hi {{ name }},</h3>
<p>We've added a new {{ contentTitle }} to the N+ Hub.</p>
<p>
  To access this resource, log into the N+ Hub or click
  <a href="{{ url }}">here</a>
</p>
<p>
  You can change your notification preferences
  at any time by logging into the N+ Hub and visiting
  the My Settings section within your profile.
</p>
