<div class="col-xs-12 text-center product-selector-title">
    <h2 class="field-title">{{  'Descubra nossa gama de produtos' | t }}</h2>
    <p class="field-introduction">{{ 'Diga-nos o que você está procurando e nós ajudaremos você a encontrar o produto certo' | t }}</p>
</div>

<div class="table-responsive">
{{ form }}
</div>
