
<style>
    #container  {
        background-color: #ffffff;
    }

    #border1    {
        width: 1123px;
        height: 750px;
        border: solid 6px #0078A8;
        padding: 5px 5px 5px 5px;

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    #border2    {
        height: 742px;
        border: solid 4px #0078A8;
    }

    #logo-top-left  {
        width: 120px;
        margin-top: 40px;
        margin-left: 35px;
        float: left;
    }

    #logo-top-right  {
        vertical-align: top;
        width: 240px;
        float: right;
        margin-top: 40px;
        margin-right: 35px;
    }

    #certificado    {
        width: 395px;
        text-align: center;
        margin: 120px auto 0 auto;
        font-family: 'latolight';
    }

    #certificado h1 {
        font-family: 'latolight';
        font-size: 60px;
        margin: 0;
        background: -webkit-linear-gradient(left, #0099CD, #1B75BC);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #info   {
        font-family: 'latomedium';
        width: 455px;
        text-align: center;
        margin: 70px auto 0 auto;
    }

    #date   {
        font-family: 'latolight';
        width: 455px;
        text-align: center;
        margin: 30px auto 0 auto;
    }

    #name   {
        font-family: 'latomedium';
        width: 455px;
        text-align: center;
        margin: 70px auto 0 auto;
    }

    #name h2    {
        margin-bottom: 0;
    }

    #designation    {
        font-family: 'latolight';
        font-size: 12px;
        margin-top: 5px;
    }

    #logo-bottom    {
        width: 70px;
        margin: 20px auto 0 auto;
    }
</style>


<div id="container">

    <div id="border1">

        <div id="border2">

            <h1>DEFAULT CERTIFICATE</h1>

        </div>
    </div>

</div>