<!-- Add you custom twig html here -->
<div>
    <div class="gigya-raas">
        <span class="gigya-raas">
                            <a href="/#raas-login" class="gigya-raas-login" id="gigya-raas-login">Login</a>
                    </span>
        <span class="gigya-raas">
                            <a href="#raas-register" class="gigya-raas-reg" id="gigya-raas-reg">Register</a>
                    </span>
        <span class="gigya-raas">
                    </span>
    </div>
</div>
