<div class="filter-heading">
  <div class="filter-label">{{ config_settings.mega_menu_filter_name }}</div>
  <div class="icon-open-close">
  <a
    class="filter-expand collapse"
    role="button"
    data-toggle="collapse"
    href="#collapseBrandFilter"
    aria-expanded="false"
    aria-controls="collapseBrandFilter">

    {{ config_settings.mega_menu_choose_name }}
    <span id="filterCount" class="filterCount"></span>
  </a>
  <div class="action-reset"></div>
  </div>
   <button class="button js-form-reset form-edit btn-info btn" type="reset" value="Reset" name="">
      {{ config_settings.mega_menu_reset }}
  </button>
</div>
